@import url("https://fonts.googleapis.com/css2?family=Rochester&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0%;
  padding: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
  /* background-color: #e5e5e5; */
  background-color: #f0f8ff;
}
.main-container {
  max-width: 1440px;
  margin: auto;
}
.header h4 {
  font-family: Rochester;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 64px;
  margin-left: 40px;
  margin-top: 40px;
}
.search {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 10px;
}
.search form {
  display: flex;
}
.search form input {
  width: 480px;
  height: 60px;
  background: #ff7878;
  border: none;
  border-radius: 100px;
  margin-right: 40px;
  font-size: 2rem;
  text-align: center;
}
.search form input,
button:focus {
  outline: none;
}

.search form button:hover {
  transition: 0.5s ease all;
  background-color: #fc4538;
}
.search form button {
  width: 60px;
  height: 60px;
  background: #ff9c72;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.cart-container {
  max-width: 1300px;
  background: linear-gradient(180deg, #e6ffed 0%, #a0fad9 53.12%, #dfcffa 100%);
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
  border-radius: 8px;
  min-height: 680px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.cart-body {
  background: rgba(239, 241, 255, 0.81);
  border-radius: 20px;
  width: 178px;
  height: 225px;
  margin: 30px 0px 30px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(180, 180, 180);
}
.poster {
  background: #f9f9f9;
  border: 1px solid #adadad;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;

  width: 150px;
  height: 170px;
}
.poster img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;
}
.title {
  background: #f9f9f9;
  border: 1px solid #adadad;
  box-sizing: border-box;
  border-radius: 0px 0px 8px 8px;

  width: 150px;
  height: 30px;
}
.title a {
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

/* Details Css */
.flexBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.back-button button {
  background-color: #ff7878;
  width: 119px;
  height: 20px;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  float: right;
  cursor: pointer;
}
.back-button button:hover {
  transition: 0.5s ease all;
  background-color: rgb(245, 61, 76);
}
.cover {
  margin-left: 60px;
  margin-top: 60px;
  width: 401px;
  height: 460px;
  background: #fdfdfd;
  border: 2px solid #cfcfcf;
  box-sizing: border-box;
  border-radius: 8px;
}
.cover img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.info {
  width: 690px;
  margin-top: 60px;
  margin-left: 80px;
  margin-right: 60px;
}
.plot {
  margin-left: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 16px;
}

.info {
  font-size: 18px;
  color: #2d2d2d;
}
.info {
  font-size: 18px;
  color: #2d2d2d;
}
.info .big-title {
  color: #161c4d;
  font-size: 50px;
}
.info p {
  margin-bottom: 10px;
  color: #2d2d2d;
}
